/**
{
outline: 1px solid red;
}*/

body 
{
	padding: 0;
	margin: 0;
	background: rgb(255, 255, 255);
	/*font-family: 'Open Sans', sans-serif;*/
	font-family: 'Roboto Slab', serif;
	color: rgb(24, 24, 24);
	font-size: 17px;
	line-height:34px;
	
}
*:before,
*:after{
	box-sizing: border-box;
}
h1,h2,h3,h4,h5,h6{
	margin: 0;
}
a
{
	text-decoration:none;
}
h1 
{
	font-family: 'Open Sans', sans-serif;
	font-size: 45px;
}
h2
{
	font-family: 'Open Sans', sans-serif;
	font-size: 22px;
	font-weight: 400;
	line-height: 1.7;
}
h3
{
	font-family: 'Open Sans', sans-serif;
	font-size: 17px;
	font-weight: 400;
	color: #fff;
}
h4
{
	font-family: 'Open Sans', sans-serif;
	font-size: 17px;
	font-weight: 400;
	color: #fff;
}
h5
{
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	font-weight: 400;
	color: rgb(139, 139, 139);
}
h6
{
	font-size: 22px;
	font-weight: 700;
	color: #b4966e;
}
/*Container*/
.container{
	width: 100%;
	max-width: 1600px;
	margin: 0 auto;
	
}
/* Intro */
.intro {
	padding-top: 60px;
	padding-bottom: 50px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	background-image: url(ivanov_event.jpg);

}
.intro__title
{
	font-family: 'Roboto Slab', serif;
	font-size: 46px ;
	font-weight: 400;
	line-height: 1;
	color: rgb(255, 255, 255);
	margin: 25px auto;
}
.intro__inner
{
	width: 100%;
	max-width: 1000px;
	font-family: 'Open Sans', sans-serif;
	
}
.intro__suptitle
{
	font-size: 17px;
	color: rgb(255, 255, 255);
	font-family: 'Open Sans', sans-serif;
}	
.intro__subtitle
{
	font-size: 17px;
	color: black;
}
.sixteen{
	margin-top: 240px;
	float: right;
}
/* Navi */
.nav {
	font-family: 'Open Sans', sans-serif;
	color: #333;
	font-size: 11px;
	text-transform: uppercase;
	padding-top: 8px;

}
.nav2
{
	text-transform: uppercase;
	float: right;
	padding-right: 20px;

}
.nav__link
{
	display: inline-block;
	margin: 0 20px;
	color: #333;
	vertical-align: baseline;
}
.nav__link_text
{
	display: inline-block;
	vertical-align: top;
	margin: 0 15px;
	padding-top: 3px;
	padding-right: 20px;
	color: #333;
}
.nav__svg
{
	display: inline-block;
	align-items: center;
	width: 15px;
	height: 15px;
	margin: 2px 0px;
}
.nav__svg__search
{
	display: inline-block;
	align-items: center;
	width: 15px;
	height: 15px;
	margin: 2px 0px;
}

.nav-link
{
	color: rgb(0, 0, 0);
	font-weight: 400;
	padding-left: 0;
	font-family: 'Open Sans', sans-serif;
}
.title_screen
{

	width: 100%;
	padding-top: 15px;
	padding-bottom: 15px;	
	justify-content: space-between;
	align-items: center;
}
.sect-item
{
	list-style-type: none;
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	color: rgb(163, 163, 163);
	font-weight: bold;
	display: inline-block;
	vertical-align: top;
	
}
/* Header */
.header 
{
	padding-top: 10px;	
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	z-index: 1000;
}
.header__inner
{
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.wrapper
{
	margin-top: 160px;
}
.screen__inner
{
	margin-top: 16px;
	margin-bottom: 16px;
	text-align: right;
}
.event__nav
{
	
	background-color: black;
	padding-top: 20px;
	padding-bottom: 10px;	
}
.padding_event_nav
{
	margin: 0;
	padding-left: 0;
}
.element_nav
{
	margin: 0;
	list-style-type: none;
	font-weight: bold;
	display: inline-block;
	vertical-align: top;
	
}
/* description */
.decription
{
	margin-top: 50px;
}
.decription_inner
{
	margin-top: 20px;
	padding-left: 0;
}
.element_decription
{
	margin: 0;
	margin-top: 20px;
	padding-left: 0;
	list-style-type: none;
	display: inline-block;
	vertical-align: top;
	
}
.btn
{
	margin-top: 20px;
	
	display: inline-block;
	vertical-align: top;
	border: 1px solid #b4966e;
	padding: 14px 30px;
	text-decoration:none;
	text-transform: uppercase;
	font-family: 'Open Sans', sans-serif;
	list-style-type: none;
	font-size: 14px;
	color: black;
	text-align: center;
	margin-left: 0;
	margin-left: 45%;
	border-radius: 0%;
}
.border_bottom
{
	margin-top: 60px;
	border-bottom: 1px solid rgb(214, 214, 214);
}
.photogallery
{
	font-family: 'Open Sans', sans-serif;
	list-style-type: none;
	font-size: 35px;
	font-weight: bold;
	margin-top: 80px;
}
.carousel_wrapper
{
	margin: auto;
	margin-top: 70px;
	width: 800px;
	height: 400px;
	font-size: 18px;
	font-weight: 400;
	font-family: 'Open Sans', sans-serif;
}	
/* event */
.main_description
{
	font-size: 20px;
	font-weight: 400;
}
.event
{
	font-family: 'Open Sans', sans-serif;
	list-style-type: none;
	font-size: 35px;
	font-weight: bold;
	margin-top: 250px;
	
}
.btn2
{
	margin-top: 50px;
	
	display: inline-block;
	vertical-align: top;
	border: 1px solid #b4966e;
	padding: 12px 80px;
	text-decoration:none;
	text-transform: uppercase;
	font-family: 'Open Sans', sans-serif;
	list-style-type: none;
	font-size: 14px;
	color: black;
	text-align: center;
	margin-left: 0;
	margin-left: 45%;
	border-radius: 0%;
	font-weight: 400;
}
/* share */
.share
{
	margin-top: 80px;
	text-decoration:none;
	text-transform: uppercase;
	font-family: 'Open Sans', sans-serif;
	list-style-type: none;
	font-size: 14px;
	color: rgb(124, 124, 124);
	padding-left: 0;	
}
.nav__svg_inner
{
	display: inline-block;
	align-items: center;
	padding: 8px;
}
.border_main
{
	margin-top: 60px;
	margin-bottom: 160px;
	border-bottom: 1px solid rgb(214, 214, 214);
}
.btn-secondary 
{
	background-color: #fff;
	color: #333;
	border: 0;
}
.btn-secondary:hover
{
	background-color: #fff;
	color: #333;
}

.dropdown-toggle::after
{
	border: 0;
}
.nav-item
{
	padding-right: 36px	;
	padding-left: 0;
	background-color: #fff;
	
}
.navbar
{
	border-bottom: 1px solid rgb(214, 214, 214);
	border-top: 1px solid rgb(214, 214, 214);
	padding-left: 0;
}
.bg-light 
{
    background-color: #ffffff!important;
}
.navbar-light .navbar-nav .nav-link {
    color: rgb(0 0 0);
	padding-left: 0;
}
.dropdown
{
	font-family: 'Open Sans', sans-serif;
}
/*<div class="row">
				 
</div>*/
